@inject Diamond.AspNetCore.Html.ICachedCaptcha captcha
@{
    this.ViewData["Title"] = "Captcha Test";
    string captchaRefID = captcha.NewRefID();
}

<form asp-antiforgery="true">

    <p><a href="/DistributedTest">Distributed Captcha Test</a> | <b>Cached Captcha Test</b></p>
    <p></p>
    <p>@this.ViewBag.Message &nbsp;</p>
    <p></p>

    <div class="row">
        <div class="col-md-1 col-sm-1">

            Captcha

        </div>
        <div class="col-md-3 col-sm-4">

            <input type="hidden" id="Captcha_RefID" name="Captcha_RefID" value="@captchaRefID" />
            <input type="text" name="Input_Captcha" autocomplete="off" autocorrect="off" />

        </div>
        <div class="col-md-3 col-sm-4">

            <img id="CaptchaImage" src="/CachedTest/CaptchaImage/@captchaRefID" />

        </div>
        <div class="col-md-3 col-sm-4">

            <a href="#" onclick="OnCaptchaRefresh()">Refresh</a>

            <script language="javascript">

                var version = 0;

                function OnCaptchaRefresh()
                {
                    version++;
                    var img = document.getElementById("CaptchaImage");
                    img.src = "/CachedTest/CaptchaImage/@captchaRefID?version=" + version;
                    return false;
                }

            </script>

        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-4">
            <input type="submit" name="submit" value="Submit" />
        </div>
    </div>

</form>
