@page
@model Addon1.Areas.Addon1.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addon1-Page1</title>
</head>
<body>
    <h1>Addon1-RazorPages</h1>
    <img src="/Addon1/img/file1.jpg" />
</body>
</html>
